@page
@model NoBSPlanner.Pages.IndexModel
<link href="~/tailwind.css" rel="stylesheet" />


@{
    ViewData["Title"] = "Index";
}

<nav class="bg-gray-800 p-4">
    <div class="container mx-auto">
        <a href="/" class="text-white font-bold">NoBS Planner</a>
    </div>
</nav>

<h1 class="text-3xl font-bold mb-4">Index</h1>
<br />
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlannerItem[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlannerItem[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlannerItem[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlannerItem[0].isCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlannerItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCompleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
